.wrapper {
  background-color: #F1F1E9;
  padding: 6em 0 8em 0;
  text-align: center;
}
.title {
  width: 30%;
  margin: 0 auto;
}
.subtitle {
  color: #4A4945;
  display: inline-block;
  font-family: 'Minion Pro Italic', serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 0px;
  width: 45%;
}
