.iconCard {
  background-color: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 150px;
  color: #4A4945;
  display: block;
  text-align: center;
  padding: 150px 1em 0;
}

h3 {
  font-family: 'Minion Pro Bold';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}
p {
  font-family: 'Minion Pro Italic';
  font-size: 15px;
  line-height: 20px;
  width: 60%;
  display: inline-block;
}


/** Mapping images */
.xero{
  background-image: url('./xero.png');
}
.ciru{
  background-image: url('./ciru.png');
}
.riego{
  background-image: url('./riego.png');
}
.rest{
  background-image: url('./rest.png');
}
