.wrapper {
  background-color: #C4D7D1;
  text-align: center;
  padding: 5em 0 8em 0;
}

.title {
  text-transform: uppercase;
  font-family: futura, sans;
  font-size: 22px;
  font-weight: 400;
  color: #4A4945;
  padding: 0 0 2em 0;
}
